--requirement build-requirements.txt
anydyce~=0.1.4
debugpy
line_profiler[ipython]
ipywidgets
matplotlib
pip-tools
pyls-flake8
pyls-isort
pylsp-mypy
pylsp-rope
python-lsp-black
python-lsp-server[flake8,rope]
