--requirement build-requirements.txt
anydyce~=0.4.0
debugpy
icepool~=1.0
line_profiler[ipython]
pip-tools
pre-commit
pyls-flake8
pyls-isort
pylsp-mypy
pylsp-rope
python-lsp-black
python-lsp-server[flake8,rope]
